.space-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &.space-direction-vertical {
    flex-direction: column;
  }

  &.space-direction-horizontal {
    flex-direction: row;
  }
}




